Importing the packages

In [1]:
import pandas as pd
import numpy as np

In [2]:

df=pd.read_csv("/Users/somesh-19583/Desktop/Health Care/playground-series-s4e11/train.csv")
df.shape

(140700, 20)

Analysing the data

In [3]:
df.sample(5)

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
43394,43394,Simran,Female,45.0,Varanasi,Working Professional,Teacher,NaN,1.0,NaN,NaN,3.0,7-8 hours,Unhealthy,B.Arch,No,4.0,2.0,No,0
104747,104747,Abhishek,Male,20.0,Nagpur,Student,NaN,4.0,NaN,5.74,3.0,NaN,Less than 5 hours,Unhealthy,Class 12,Yes,5.0,5.0,Yes,1
93181,93181,Simran,Female,42.0,Faridabad,Working Professional,Travel Consultant,NaN,4.0,NaN,NaN,2.0,Less than 5 hours,Unhealthy,MHM,No,7.0,4.0,Yes,0
77644,77644,Rohan,Male,46.0,Kanpur,Working Professional,Consultant,NaN,1.0,NaN,NaN,5.0,5-6 hours,Healthy,MCA,Yes,7.0,1.0,Yes,0
71850,71850,Aarav,Male,52.0,Vadodara,Working Professional,Doctor,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,M.Pharm,Yes,6.0,3.0,Yes,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [5]:
df.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

Data Cleaning

In [7]:
# Calculate percentage of missing values for each column
missing_percentage = df.isnull().mean() * 100

# Print missing percentage for inspection
print("🔍 Missing Value Percentage per Column:\n")
print(missing_percentage.sort_values(ascending=False))

# Drop columns where more than 30% of the data is missing
threshold = 30.0
cols_to_drop = missing_percentage[missing_percentage > threshold].index
df_cleaned = df.drop(columns=cols_to_drop)

print(f"\n🧹 Dropped columns with more than {threshold}% missing values:")
print(list(cols_to_drop))

df.shape

🔍 Missing Value Percentage per Column:

Study Satisfaction                       80.172708
Academic Pressure                        80.172708
CGPA                                     80.171997
Profession                               26.034115
Work Pressure                            19.842217
Job Satisfaction                         19.836532
Dietary Habits                            0.002843
Financial Stress                          0.002843
Degree                                    0.001421
Family History of Mental Illness          0.000000
Work/Study Hours                          0.000000
Have you ever had suicidal thoughts ?     0.000000
id                                        0.000000
Sleep Duration                            0.000000
Name                                      0.000000
Working Professional or Student           0.000000
City                                      0.000000
Age                                       0.000000
Gender                                    0.000000
Depression                                0.000000
dtype: float64

🧹 Dropped columns with more than 30.0% missing values:
['Academic Pressure', 'CGPA', 'Study Satisfaction']

(140700, 20)

In [8]:
# Dropping the Unique identifier columns and maximum missing containing columns
df=df.drop(columns=['id','Name','Academic Pressure', 'CGPA', 'Study Satisfaction'])
df.sample(5)

,Gender,Age,City,Working Professional or Student,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
115057,Male,56.0,Lucknow,Working Professional,Teacher,2.0,5.0,More than 8 hours,Healthy,B.Ed,No,4.0,4.0,Yes,0
114953,Female,28.0,Visakhapatnam,Working Professional,Accountant,4.0,1.0,Less than 5 hours,Unhealthy,B.Com,Yes,10.0,2.0,No,1
46680,Female,18.0,Kolkata,Student,NaN,NaN,NaN,5-6 hours,Unhealthy,Class 12,Yes,7.0,3.0,No,1
115319,Female,39.0,Surat,Working Professional,Consultant,5.0,3.0,Less than 5 hours,Healthy,M.Com,No,10.0,1.0,No,0
34638,Male,24.0,Meerut,Working Professional,Finanancial Analyst,5.0,4.0,Less than 5 hours,Moderate,BCA,No,11.0,2.0,Yes,0

In [9]:
df = df.dropna(subset=["Dietary Habits","Financial Stress","Degree"])
df.shape

(140690, 15)

In [10]:
numerical_cols = ['Age', 'Work Pressure', 'Job Satisfaction', 'Work/Study Hours', 'Financial Stress']

categorical_cols=['Gender', 'City', 'Working Professional or Student', 'Profession', 'Sleep Duration', 'Dietary Habits', 'Degree', 'Have you ever had suicidal thoughts ?', 'Family History of Mental Illness', 'Depression']

Filling the missing values

In [11]:


# Loop through and print unique values
for col in categorical_cols:
    print(f"\n--- Unique values in '{col}' ---")
    print(df[col].unique())

--- Unique values in 'Gender' ---
['Female' 'Male']

--- Unique values in 'City' ---
['Ludhiana' 'Varanasi' 'Visakhapatnam' 'Mumbai' 'Kanpur' 'Ahmedabad'
 'Thane' 'Nashik' 'Bangalore' 'Patna' 'Rajkot' 'Jaipur' 'Pune' 'Lucknow'
 'Meerut' 'Agra' 'Surat' 'Faridabad' 'Hyderabad' 'Srinagar' 'Ghaziabad'
 'Kolkata' 'Chennai' 'Kalyan' 'Nagpur' 'Vadodara' 'Vasai-Virar' 'Delhi'
 'Bhopal' 'Indore' 'Ishanabad' 'Vidhi' 'Ayush' 'Gurgaon' 'Krishna'
 'Aishwarya' 'Keshav' 'Harsha' 'Nalini' 'Aditya' 'Malyansh' 'Raghavendra'
 'Saanvi' 'M.Tech' 'Bhavna' 'Less Delhi' 'Nandini' 'M.Com' 'Plata'
 'Atharv' 'Pratyush' 'City' '3.0' 'Less than 5 Kalyan' 'MCA' 'Mira'
 'Moreadhyay' 'Morena' 'Ishkarsh' 'Kashk' 'Mihir' 'Vidya' 'Tolkata' 'Anvi'
 'Krinda' 'Ayansh' 'Shrey' 'Ivaan' 'Vaanya' 'Gaurav' 'Harsh' 'Reyansh'
 'Kashish' 'Kibara' 'Vaishnavi' 'Chhavi' 'Parth' 'Mahi' 'Tushar' 'MSc'
 'No' 'Rashi' 'ME' 'Molkata' 'Researcher' 'Kagan' 'Armaan' 'Ithal'
 'Nalyan' 'Dhruv' 'Galesabad' 'Itheg' 'Aaradhya' 'Pooja' 'Khushi'
 'Khaziabad' 'Jhanvi' 'Unirar']

--- Unique values in 'Working Professional or Student' ---
['Working Professional' 'Student']

--- Unique values in 'Profession' ---
['Chef' 'Teacher' nan 'Business Analyst' 'Finanancial Analyst' 'Chemist'
 'Electrician' 'Software Engineer' 'Data Scientist' 'Plumber'
 'Marketing Manager' 'Accountant' 'Entrepreneur' 'HR Manager'
 'UX/UI Designer' 'Content Writer' 'Educational Consultant'
 'Civil Engineer' 'Manager' 'Pharmacist' 'Financial Analyst' 'Architect'
 'Mechanical Engineer' 'Customer Support' 'Consultant' 'Judge'
 'Researcher' 'Pilot' 'Graphic Designer' 'Travel Consultant'
 'Digital Marketer' 'Lawyer' 'Research Analyst' 'Sales Executive' 'Doctor'
 'Unemployed' 'Investment Banker' 'Family Consultant' 'B.Com' 'BE'
 'Student' 'Yogesh' 'Dev' 'MBA' 'LLM' 'BCA' 'Academic' 'Profession'
 'FamilyVirar' 'City Manager' 'BBA' 'Medical Doctor'
 'Working Professional' 'MBBS' 'Patna' 'Unveil' 'B.Ed' 'Nagpur' 'Moderate'
 'M.Ed' 'Analyst' 'Pranav' 'Visakhapatnam' 'PhD' 'Yuvraj']

--- Unique values in 'Sleep Duration' ---
['More than 8 hours' 'Less than 5 hours' '5-6 hours' '7-8 hours'
 'Sleep_Duration' '1-2 hours' '6-8 hours' '4-6 hours' '6-7 hours'
 '10-11 hours' '8-9 hours' '40-45 hours' '9-11 hours' '2-3 hours'
 '3-4 hours' 'Moderate' '55-66 hours' '4-5 hours' '9-6 hours' '1-3 hours'
 'Indore' '45' '1-6 hours' '35-36 hours' '8 hours' 'No' '10-6 hours'
 'than 5 hours' '49 hours' 'Unhealthy' 'Work_Study_Hours' '3-6 hours'
 '45-48 hours' '9-5' 'Pune' '9-5 hours']

--- Unique values in 'Dietary Habits' ---
['Healthy' 'Unhealthy' 'Moderate' 'Yes' 'Pratham' 'BSc' 'Gender' '3'
 'More Healthy' 'Less than Healthy' 'Mihir' '1.0' 'Hormonal' 'Electrician'
 'No Healthy' 'Less Healthy' 'M.Tech' 'Vegas' 'No' 'Male' 'Indoor'
 'Class 12' '2']

--- Unique values in 'Degree' ---
['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' '20' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' '0' 'LLCom' '29' 'MTech' 'Vivaan' 'BPA' 'Plumber' '5.61' 'Brit'
 'B.03' 'Ritik' '5.56' 'MEd' 'B' 'B BA' '7.06' 'B.B.Arch' 'ACA' 'Brithika'
 'CGPA' '24' 'M_Tech' 'Pihu' 'BB' 'Jhanvi' 'LLTech' 'Aarav' 'Entrepreneur'
 '8.56' 'LHM' 'Lata' 'S.Arch' 'Marsh' 'HCA' '5.88' 'B.Student' 'LL B.Ed'
 'M.S' 'Navya' 'Mahika' 'K.Ed' 'B.3.79' 'Mthanya' 'Working Professional'
 'Esha' 'LLS' 'LLEd' 'E.Tech' 'Doctor' 'N.Pharm' 'LCA' 'B B.Com' 'RCA'
 'Mihir' 'Advait']

--- Unique values in 'Have you ever had suicidal thoughts ?' ---
['No' 'Yes']

--- Unique values in 'Family History of Mental Illness' ---
['No' 'Yes']

--- Unique values in 'Depression' ---
[0 1]

In [12]:
#cities
valid_cities = [
    'Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur', 'Ahmedabad',
    'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot', 'Jaipur', 'Pune', 'Lucknow',
    'Meerut', 'Agra', 'Surat', 'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad',
    'Kolkata', 'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
    'Bhopal', 'Indore', 'Gurgaon'
]
df['City'] = df['City'].apply(lambda x: x if x in valid_cities else np.nan)

In [13]:
#Profession
valid_professions = [
    'Chef', 'Teacher', 'Business Analyst', 'Financial Analyst', 'Chemist',
    'Electrician', 'Software Engineer', 'Data Scientist', 'Plumber',
    'Marketing Manager', 'Accountant', 'Entrepreneur', 'HR Manager',
    'UX/UI Designer', 'Content Writer', 'Mechanical Engineer',
    'Consultant', 'Pharmacist', 'Educational Consultant',
    'Civil Engineer', 'Manager', 'Customer Support', 'Architect',
    'Digital Marketer', 'Lawyer', 'Investment Banker', 'Judge', 'Researcher',
    'Doctor', 'Sales Executive', 'Pilot', 'Graphic Designer', 'Travel Consultant',
    'Research Analyst', 'Family Consultant', 'Medical Doctor'
]
df['Profession'] = df['Profession'].apply(lambda x: x if x in valid_professions else np.nan)

In [14]:
#Sleep Duration
valid_sleep_duration = [
    'More than 8 hours', 'Less than 5 hours', '5-6 hours', '7-8 hours',
    '1-2 hours', '6-8 hours', '4-6 hours', '6-7 hours', '8-9 hours',
    '10-11 hours', '9-11 hours', '2-3 hours', '3-4 hours', '4-5 hours',
    '8 hours'
]
df['Sleep Duration'] = df['Sleep Duration'].apply(lambda x: x if x in valid_sleep_duration else np.nan)

In [15]:
#Dietary Habits
valid_dietary_habits = ['Healthy', 'Unhealthy', 'Moderate']
df['Dietary Habits'] = df['Dietary Habits'].apply(lambda x: x if x in valid_dietary_habits else np.nan)

In [16]:
#Degree
valid_degrees = [
    'BHM', 'LLB', 'B.Pharm', 'BBA', 'MCA', 'MD', 'BSc', 'ME', 'B.Arch', 'BCA',
    'BE', 'MA', 'B.Ed', 'B.Com', 'MBA', 'M.Com', 'MHM', 'BA', 'M.Tech', 'PhD',
    'M.Ed', 'MSc', 'B.Tech', 'LLM', 'MBBS', 'M.Pharm', 'M.Arch'
]
df['Degree'] = df['Degree'].apply(lambda x: x if x in valid_degrees else np.nan)

In [17]:
# Print the filtered rows
print(df.shape)
df.reset_index(drop=True, inplace=True)
df.sample(5)

(140690, 15)

,Gender,Age,City,Working Professional or Student,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
30944,Female,52.0,Vasai-Virar,Working Professional,Business Analyst,3.0,4.0,7-8 hours,Moderate,ME,Yes,5.0,2.0,Yes,0
72532,Female,37.0,Kalyan,Working Professional,Teacher,1.0,5.0,Less than 5 hours,Unhealthy,B.Ed,No,3.0,3.0,Yes,0
45025,Female,31.0,Vasai-Virar,Student,NaN,NaN,NaN,Less than 5 hours,Unhealthy,LLB,Yes,0.0,4.0,Yes,1
137302,Female,37.0,Surat,Working Professional,Teacher,5.0,3.0,5-6 hours,Healthy,B.Ed,Yes,0.0,2.0,Yes,0
27516,Female,47.0,Varanasi,Working Professional,Content Writer,5.0,3.0,More than 8 hours,Unhealthy,B.Ed,Yes,4.0,5.0,No,0

Filling the missing values

In [18]:

print("Missing data before processing")
df.info()

# Fill missing categorical values based on Gender and Age
for col in categorical_cols:
    df[col] = df.groupby(['Gender', 'Age'])[col].transform(lambda x: x.fillna(x.mode()[0]) if not x.mode().empty else x)

# Fill missing numerical values based on Gender and Age
for col in numerical_cols:
    df[col] = df.groupby(['Gender', 'Age'])[col].transform(lambda x: x.fillna(x.mean()))

print("\n\nMissing data after processing")
df.info()

Missing data before processing
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140690 entries, 0 to 140689
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140690 non-null  object
 1   Age                                    140690 non-null  float64
 2   City                                   140593 non-null  object
 3   Working Professional or Student        140690 non-null  object
 4   Profession                             102691 non-null  object
 5   Work Pressure                          112777 non-null  float64
 6   Job Satisfaction                       112785 non-null  float64
 7   Sleep Duration                         140660 non-null  object
 8   Dietary Habits                         140667 non-null  object
 9   Degree                                 125853 non-null  object
 10  Have you ever had suicidal thoughts ?  140690 non-null  object
 11  Work/Study Hours                       140690 non-null  float64
 12  Financial Stress                       140690 non-null  float64
 13  Family History of Mental Illness       140690 non-null  object
 14  Depression                             140690 non-null  int64
dtypes: float64(5), int64(1), object(9)
memory usage: 16.1+ MB


Missing data after processing
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140690 entries, 0 to 140689
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140690 non-null  object
 1   Age                                    140690 non-null  float64
 2   City                                   140690 non-null  object
 3   Working Professional or Student        140690 non-null  object
 4   Profession                             140690 non-null  object
 5   Work Pressure                          140690 non-null  float64
 6   Job Satisfaction                       140690 non-null  float64
 7   Sleep Duration                         140690 non-null  object
 8   Dietary Habits                         140690 non-null  object
 9   Degree                                 140690 non-null  object
 10  Have you ever had suicidal thoughts ?  140690 non-null  object
 11  Work/Study Hours                       140690 non-null  float64
 12  Financial Stress                       140690 non-null  float64
 13  Family History of Mental Illness       140690 non-null  object
 14  Depression                             140690 non-null  int64
dtypes: float64(5), int64(1), object(9)
memory usage: 16.1+ MB

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140690 entries, 0 to 140689
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Gender                                 140690 non-null  object
 1   Age                                    140690 non-null  float64
 2   City                                   140690 non-null  object
 3   Working Professional or Student        140690 non-null  object
 4   Profession                             140690 non-null  object
 5   Work Pressure                          140690 non-null  float64
 6   Job Satisfaction                       140690 non-null  float64
 7   Sleep Duration                         140690 non-null  object
 8   Dietary Habits                         140690 non-null  object
 9   Degree                                 140690 non-null  object
 10  Have you ever had suicidal thoughts ?  140690 non-null  object
 11  Work/Study Hours                       140690 non-null  float64
 12  Financial Stress                       140690 non-null  float64
 13  Family History of Mental Illness       140690 non-null  object
 14  Depression                             140690 non-null  int64
dtypes: float64(5), int64(1), object(9)
memory usage: 16.1+ MB

In [20]:
#Storing the Cleaned Data
df.to_csv("/Users/somesh-19583/Desktop/Health Care/playground-series-s4e11/Cleaned_Data.csv",index=False)
print("Stored the Cleaned Data Successfully !!!")

Stored the Cleaned Data Successfully !!!

In [21]:
df.sample(5)

,Gender,Age,City,Working Professional or Student,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
101351,Female,55.0,Kalyan,Working Professional,Electrician,2.0,3.0,Less than 5 hours,Moderate,B.Tech,Yes,0.0,4.0,No,0
106260,Female,48.0,Mumbai,Working Professional,Teacher,2.0,5.0,5-6 hours,Healthy,BCA,No,1.0,3.0,Yes,0
90597,Male,38.0,Agra,Working Professional,Researcher,4.0,5.0,7-8 hours,Healthy,MCA,No,5.0,3.0,Yes,0
20256,Female,18.0,Ghaziabad,Working Professional,Teacher,2.0,3.0,5-6 hours,Moderate,B.Ed,Yes,3.0,5.0,Yes,0
82603,Male,54.0,Bangalore,Working Professional,Entrepreneur,3.0,5.0,More than 8 hours,Healthy,BBA,Yes,5.0,4.0,Yes,0